@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Karla:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  footer {
    background-image: url('../images/bg-pattern-footer-mobile.svg');
    background-repeat: no-repeat;
    background-size: 100% 15%;
    background-position: top;
  }

  #nav-menu {
    background-image: url(../images/bg-pattern-mobile-nav.svg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;

    @apply md:bg-none;
  }

  #cta {
    background-image: url('../images/bg-pattern-how-we-work-mobile.svg');
    background-repeat: no-repeat;
    background-position: top right;
    background-size: contain;
  }

  @media (min-width: 768px) {
    footer {
      background-image: url('../images/bg-pattern-footer-desktop.svg');
      background-size: initial;
      background-position: top left;
    }
  }

  @media (min-width: 1024px) {
    #cta {
      background-image: url('../images/bg-pattern-how-we-work-desktop.svg');
    }
  }
}
